/* Variables */

:root {
--light-grey: #EEEEEE; /*background*/
--basic-white: #888888; /*background*/
--black: #000000; /*fonts*/
--light-black: #283136; /*fonts*/
--light-red: #FB565A;
--red: #E74246;
--dark-red: #D7373B;
--light-green: #00CA74;
--green: #00BC6C;
--dark-green: #00AA62;
--light-orange: #EFC849;
--orange: #EAB534;
--dark-orange: #E5A722;
--white: #FFFFFF;
--grey: #E1E1E1; /*social-media icons*/
--dark-grey: #4D4D4D; /*icons*/
--extra-light-grey: #666666;
--active-grey: rgba(255, 255, 255, 0.3);
--not-active-grey: rgba(40, 49, 54, 0.3);
--hover-grey: #DFDFDF;
--basic-grey: #D5D5D5;
--blurry-black: rgba(0, 0, 0, 0.3);
--light-white: rgba(0, 0, 0, 0.0001);
--half-black: rgba(0, 0, 0, 0.6);
--almost-white: #DBDBDB;
--blurry-grey: #D7DCDE;
}


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: grid;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--light-black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.main-header {
  background-color: var(--light-grey);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin-left: auto;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--black);
  background-color: var(--light-grey);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.promo-container {
  min-width: 1160px;
  background-color: var(--light-grey);
  margin-bottom: 80px;
}

.main-header-bar {
  display: grid;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 850px;
}

.user-navigation {
  margin-right: 30px;
  max-width: 200px;
}

.user-navigation .cart-link {
  padding-left: 10px;
}

.site-navigation-current a:not(href) {
  text-decoration-line: underline;
  text-decoration-color: var(--light-red);
}

.site-button {
  text-decoration-line: none;
}

.site-button:hover {
  color: var(--light-red);
}

.site-button:active {
  color: var(--black);
  opacity: 30%;
}

.cart-link:hover {
  color: var(--light-red);
}

.cart-link:active {
  color: var(--black);
  opacity: 30%;
}

.cart-link {
  text-decoration-line: none;
}

.features-slider {
  width: 1160px;
  margin: 0 auto;
}

.features-slogan-1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  padding: 0;
  margin: 0;
}

.features-info {
  padding-top: 78px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 760px 431px;
}

.slider-list li {
  min-height: 431px;
}

.services {
  margin-bottom: 70px;
  margin: 10px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.button {
  display: inline-block;
  padding: 17px 40px 15px;
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: var(--light-red);
  border-radius: 3px;
}
.button-green {
  background-color: var(--light-green);
}
.button-orange {
  background-color: var(--light-orange);
}

.button:hover {
  background-color: var(--red);
}
.button:active {
  color: var(--active-grey);
  background-color: var(--dark-red);
}

.button-green:hover {
  background-color: var(--green);
}

.button-green:active {
  color: var(--active-grey);
  background-color: var(--dark-green);
}

.button-orange:hover {
  background-color: var(--orange);
}

.button-orange:active {
  color: var(--active-grey);
  background-color: var(--dark-orange);
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  margin: 70px 10px;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
}

.about-text {
  font-weight: bold;
  text-transform: uppercase;
}

.table-caption {
  font-weight: bold;
  text-transform: uppercase;
}

.row-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.row-item-2 {
  line-height: 18px;
  color: var(--light-black);
}

.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 70px 0;
}

/*Я пока оставила секцию с контактами без грида, так как там карта и на нее наклдаывается блок с контактами.
Я пока не знаю, как это делать. но, если я просто туплю, ты мне намекни, и я постараюсь подумать*/

.main-footer {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.adress {
  color: var(--extra-light-grey);
  line-height: 18px;
}

.footer-contacts-phone {
  color: var(--extra-light-grey);
}

.footer-social {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 40px;
  margin: 70px 10px;
}

.social-buttons-list {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--grey);
  margin: 9px;
}

.social-button:hover {
  background-color: var(--red);
}

.social-button:active {
  background-color: var(--dark-red);
}

.social-button:focus path {
  fill: var(--active-grey);
}

.footer-social ul {
  list-style: none;
}

.footer-social p {
  text-align: center;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
}

.footer-slogan-section {
  justify-self: start;
  /*margin-left: 110px;*/
}

.map-img {
  width: 100%;
  height: 100%;
}

/*catalog page*/

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
  padding: 0;
  margin: 0 auto;
}

.page-title {
  grid-column: 1/-1;
  justify-self: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  background-color: var(--light-grey);
}

.filters {
  margin-left: 10px;
  margin-bottom: 70px;
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--black);
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.filter-input-checkbox + label,
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--light-black);
}

.filter-input-checkbox:disabled + label {
  color: var(--not-active-grey);
}

.filter-input-radio + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--light-black)
}

.filter-input-radio:disabled + label {
  color: var(--not-active-grey);
}

.sorting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.sorting-icons {
  margin-right: 10px;
}

.catalog {
  margin-right: 10px;
  margin-bottom: 70px;
  margin-left: 100px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 35px;
  gap: 42px;
  list-style: none;
}

.catalog-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.pagination-list {
  display: flex;
  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;
}

.pagination-item a {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: none;
  background-color: var(--light-grey);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--hover-grey);
}

.pagination-item a:active {
  background-color: var(--basic-grey);
  color: var(--blurry-black);
}

.pagination-item-current {
  width: 50px;
  height: 50px;
  background-color: var(--light-white);
  border: 3px solid var(--almost-white);
}

.filter-button {
  background-color: var(--light-grey);
  color: var(--black);
  line-height: 18px;
  font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-grey);
}

.filter-button:active {
  background-color: var(--basic-grey);
  color: var(--blurry-black);
  line-height: 18px;
  font-weight: 500;
}

.sorting {
  list-style: none;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--blurry-black);
  text-decoration-line: none;
}

.sorting-item-current a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  text-decoration-line: none;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--half-black);
}

.sorting-item a:active {
  color: var(--black);
}

/*Modal*/

.contact-form {
  display: grid;
  width: 960px;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.text-section {
  grid-column: 1/3;
}

.name-section {
  grid-column: 1/2;
}

.modal button {
  grid-column: 1/2;
  width: 259px;
}

.form-name,
.form-email {
  width: 360px;
  height: 50px;
  background: var(--white);
  border: 2px solid var(--blurry-grey);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-text {
  width: 760px;
  height: 118px;
  background: var(--white);
  border: 2px solid var(--blurry-grey);
  box-sizing: border-box;
  border-radius: 3px;
}
