/* Variables */

:root {
--light-grey: #EEEEEE; /*background*/
--basic-white: #888888; /*background*/
--black: #000000; /*fonts*/
--light-black: #283136; /*fonts*/
--light-red: #FB565A;
--red: #E74246;
--dark-red: #D7373B;
--light-green: #00CA74;
--green: #00BC6C;
--dark-green: #00AA62;
--light-orange: #EFC849;
--orange: #EAB534;
--dark-orange: #E5A722;
--white: #FFFFFF;
--grey: #E1E1E1; /*social-media icons*/
--dark-grey: #4D4D4D; /*icons*/
--almost-dark-grey: rgba(77, 77, 77, 0.4);
--light-dark-grey: rgb(77, 77, 77, 0.9);
--extra-light-grey: #666666;
--active-grey: rgba(255, 255, 255, 0.3);
--not-active-grey: rgba(40, 49, 54, 0.3);
--hover-grey: #DFDFDF;
--basic-grey: #D5D5D5;
--blurry-black: rgba(0, 0, 0, 0.3);
--other-black: rgba(0, 0, 0, 0.1);
--almost-half-black: rgba(0, 0, 0, 0.4);
--light-white: rgba(0, 0, 0, 0.0001);
--half-black: rgba(0, 0, 0, 0.6);
--almost-white: #DBDBDB;
--blurry-grey: #D7DCDE;
--last-grey: #D7DCDF;
--filter-grey: #ababab;
--shadow-grey: cfcfcf;
--shadow: rgba(0, 0, 0, 0.25);
--red-cross: rgba(251, 86, 90, 0.3);
--light-shadow: #c1c1c1;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: grid;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--light-black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.button {
  display: inline-block;
  padding: 14px 41px 14px;
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: var(--light-red);
  border-radius: 3px;
}

.main-header {
  background-color: var(--light-grey);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  margin-left: auto;
  margin-top: 54px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--light-grey);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.promo-container {
  min-width: 1160px;
  background-color: var(--light-grey);
  margin-bottom: 80px;
}

.main-header-logo {
  margin-right: 202px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 550px;
  max-width: 800px;
  flex-wrap: wrap;
  margin-right: 163px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 41px;
  width: 73px;
  height: 2px;
  background: var(--light-red);
}

.site-navigation li {
  justify-content: flex-start;
  margin-right: 45px;
}

.user-navigation {
  max-width: 180px;
}

.user-navigation .cart-link {
  padding-left: 10px;
}

.site-button {
  color: var(--black);
  text-decoration-line: none;
}

.site-button:hover {
  color: var(--light-red);
}

.site-button:active {
  color: var(--black);
  opacity: 30%;
}

.cart-link {
  color: var(--black);
  text-decoration-line: none;
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
}

.cart-link:hover {
  color: var(--light-red);
}

.cart-link:active {
  color: var(--black);
  opacity: 30%;
}

.features-slider {
  width: 1160px;
  margin: 0 auto;
}

.features-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black);
  max-width: 520px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 416px;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 396px -14px;

}

.slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 760px 416px;
}

.slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 760px 416px;
}

.slider-list li {
  min-height: 431px;
  position: relative;
  padding-top: 65px;
  box-sizing: border-box;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-button {
  margin-top: 23px;
  padding: 13px 54px;
}

.slider-controls {
  position: absolute;
  top: 431px;
  left: 675px;
  display: flex;
  min-width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  box-shadow: inset 0 0 0 5px var(--white),
  inset 0 0 0 7px var(--light-shadow);
}

.services {
  margin: 10px 0;
  margin-bottom: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item h3 {
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.service-item p {
  max-width: 270px;
  margin-bottom: 30px;
}

.button-green {
  position: relative;
  background-color: var(--light-green);
}

.button-orange {
  position: relative;
  background-color: var(--light-orange);
}

.button:hover {
  background-color: var(--red);
}
.button:active {
  color: var(--active-grey);
  background-color: var(--dark-red);
}

.button-green:hover {
  background-color: var(--green);
}

.button-green:active {
  color: var(--active-grey);
  background-color: var(--dark-green);
}

.button-orange:hover {
  background-color: var(--orange);
}

.button-orange:active {
  color: var(--active-grey);
  background-color: var(--dark-orange);
}

.button-green::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: -398px;
  width: 1158px;
  height: 2px;
  background: var(--light-grey);
}

.button-orange::before {
  content: "";
  position: absolute;
  top: 657px;
  left: -800px;
  width: 1158px;
  height: 2px;
  background: var(--light-grey);
}

.button-orange::after {
  content: "";
  position: absolute;
  top: 840px;
  left: -800px;
  width: 1158px;
  height: 2px;
  background: var(--light-grey);
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 100px;
  margin-top: 110px;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
  margin-bottom: 32px;
}

.about-mini-slogan {
  margin-bottom: 40px;
}

.about-text {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-list {
  list-style: none;
  margin-left: -4px;
}

.about-item {
  position: relative;
  line-height: 24px;
  margin-bottom: 24px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background:  var(--light-red);
}

.about-statistics {
  margin-left: 58px;
}

.about-statistics img {
  margin-left: -18px;
  margin-top: 9px;
}

.about-numbers-list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 78px auto;
  min-height: 111px;
}

.about-statistics table {
  margin-left: -41px;
  border-spacing: 23px 0;
}

.table-caption {
  font-weight: 700;
  color: var(--black);
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  white-space: nowrap;
  margin-left: 11px;
  margin-bottom: 8px;
}

.row-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
  padding-top: 21px;
  padding-bottom: 11px;
}

.table-row sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}

.row-item-2 {
  line-height: 18px;
  color: var(--light-black);
}

.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 27px;
  grid-template-rows: 60px;
  align-items: center;
  padding: 0;
  margin: 110px 0 140px;
}

.partners-button {
  opacity: 0.2;
}

.partners-button:hover {
  opacity: 1;
}

.partners-button:active {
  opacity: 0.1;
}

.barbershop-item {
  position: relative;
}

.barbershop-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -48px;
  width: 2px;
  height: 52px;
  background: var(--light-grey);
}

.barbershop-item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 252px;
  width: 2px;
  height: 52px;
  background: var(--light-grey);
}

.pink-li {
  position: relative;
}

.pink-li::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 243px;
  width: 2px;
  height: 52px;
  background: var(--light-grey);
}

.footer-social {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.footer-social-grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 50px;
  margin: 37px 0px;
}

.adress {
  color: var(--extra-light-grey);
  line-height: 18px;
}

.footer-contacts {
  position: relative;
}

.footer-contacts img {
  display: block;
}

.footer-contacts iframe {
  border-width: 0px;
  width: 100%;
}

.contacts-section {
  position: absolute;
  width: 271px;
  min-height: 259px;
  padding-left: 50px;
  padding-top: 49px;
  left: 140px;
  top: 54px;
  background-color: var(--white);
}

.contacts-section p {
  max-width: 210px;
}

.footer-contacts-phone {
  color: var(--extra-light-grey);
}

.social-buttons-list {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--grey);
  margin: 3px;
}

.social-button:hover {
  background-color: var(--red);
}

.social-button:active {
  background-color: var(--dark-red);
}

.social-button:focus path {
  fill: var(--active-grey);
}

.footer-social ul {
  list-style: none;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
  color: var(--black);
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 46px;
  margin-left: 0;
  color: var(--black);
}

.footer-slogan-section {
  justify-self: start;
}

.footer-slogan-section:last-child {
  text-align: left;
  margin-left: 32px;
}

.footer-slogan-section p {
  line-height: 6px;
}

.footer-contacts .button {
  padding: 14px 45px 14px;
  margin-top: 16px;
}

.map-img {
  width: 100%;
}

/*catalog page*/

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 64px 0 108px;
  background-color: var(--light-grey);
}

.filter-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 60px;
}

.filters {
  margin-left: 0;
  margin-bottom: 70px;
  margin-top: 55px;
}

.filter fieldset {
  border: none;
}

.legend1 {
  margin-left: -13px;
}

.range-filter {
  width: 260px;
  margin-top: 40px;
  margin-left: -14px;
  margin-bottom: 45px;
}

.net {
  margin-left: -13px;
  margin-bottom: -5px;
}

.net-list {
  margin-left: -18px;
}

.fieldset2 {
  margin-top: 17px;
  margin-left: -12px;
}

.filter-checkbox-list {
  margin-top: 10px;
  margin-left: -4px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--light-grey);
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--last-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--filter-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--light-black);
  border: none;
  border-radius: 5px;
  background: var(--light-grey);
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black);
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid var(--almost-dark-grey);
}

.filter-input-checkbox:hover + label::before {
  border: 2px solid var(--dark-grey);
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img-catalog/checkbox-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0px;
  border: none;
}

.filter-input-checkbox:checked:hover + label::before {
  background-image: url("../img-catalog/checkbox-on.svg");
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img-catalog/checkbox-on.svg");
  opacity: 0.1;
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img-catalog/checkbox-on.svg");
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 3px solid var(--almost-dark-grey);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border: 3px solid var(--dark-grey);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--almost-dark-grey);
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
  background-color: var(--dark-grey);
}

.filter-input-radio:disabled + label::before {
  border: 2px solid var(--light-dark-grey);
}

.filter-input-radio:checked:disabled + label::after {
  background-color: var(--light-dark-grey);
}

.filter-input-checkbox + label,
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-checkbox:active + label {
  color: var(--light-black);
}

.filter-input-checkbox:disabled + label {
  color: var(--not-active-grey);
}

.filter-input-radio + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--light-black)
}

.filter-input-radio:disabled + label {
  color: var(--not-active-grey);
}

.filter-button {
  margin-top: 26px;
}

.sorting-section {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 29px;
}

.sorting {
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 47px;
}

.sorting li {
  margin-right: 26px;
}

.sorting li:last-child {
  margin-right: 0;
}

.sorting-icons {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.sorting-button {
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-triangle-down.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  border: none;
  margin-bottom: 4px;
}

.sorting-button-1 {
  margin-right: 15px;
  margin-top: 3px;
}

.sorting-button-2 {
  transform: rotate(180deg);
  margin-right: 12px;
}

.sorting-button:hover,
.sorting-button:focus {
  background-image: url("../img/icon-triangle-down.svg");
  opacity: 1;
}

.sorting-button:active {
  background-image: url("../img/icon-triangle.svg");
}

.catalog {
  margin-right: 0;
  margin-bottom: 59px;
  margin-left: 80px;
  width: 770px;
  margin-top: 37px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 48px;
  padding: 0;
  gap: 40px;
  list-style: none;
  margin-top: 0px;
  row-gap: 22px;
}

.catalog-list li {
  margin-top: 0px;
  border: 1px solid var(--other-black);
  box-sizing: border-box;
  border-radius: 5px;
}

.catalog-subtitle {
  margin-right: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  margin-right: 30px;
}

.catalog-modal {
  display: flex;
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 231px;
  background-color: var(--light-grey);
}

.catalog-modal h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 0
}

.catalog-modal a {
  text-decoration-line: none;
}

.catalog-modal p {
  line-height: 18px;
  text-align: center;
  max-width: 230px;
  color: var(--extra-light-grey);
  margin: 16px auto 32px;
}

.catalog-modal button {
  padding: 14px 73px;
  margin-left: 80px;
}

.catalog-item {
  position: relative;
}

.catalog-item:hover {
  filter: drop-shadow(0px 6px 15px var(--shadow));
}

.catalog-item:hover div {
  display: block;
}

.catalog-item svg {
  opacity: 0.12;
  margin-bottom: 0;
}

.catalog-item:hover svg {
  opacity: 1;
}

.catalog-item img {
  margin-top: -7px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-item a {
  display: block;
  padding: 17px 20px;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: none;
  background-color: var(--light-grey);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--hover-grey);
}

.pagination-item a:active {
  background-color: var(--basic-grey);
  color: var(--blurry-black);
}

.pagination-item-current {
  margin-right: 14px;
}

.pagination-item:last-child a {
  padding: 17px 77px;
}

.pagination-item-current a {
  display: block;
  padding: 11px 17px;
  background-color: var(--light-white);
  border: 3px solid var(--almost-white);
}

.filter-button {
  background-color: var(--light-grey);
  color: var(--black);
  line-height: 18px;
  font-weight: 500;
  padding: 15px 89px 15px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-grey);
}

.filter-button:active {
  background-color: var(--basic-grey);
  color: var(--blurry-black);
  line-height: 18px;
  font-weight: 500;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--blurry-black);
  text-decoration-line: none;
}

.sorting-item-current a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  text-decoration-line: none;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--half-black);
}

.sorting-item a:active {
  color: var(--black);
}

.catalog-item-image {
  display: flex;
  flex-direction: column;
}

/*Modal*/

.modal {
  position: fixed;
  display: none;
  width: 760px;
  padding: 27px 100px 84px;
  top: 50px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  background-color: var(--white);
  box-shadow: 0px 20px 40px var(--almost-half-black);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 89px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 236px;
  width: 19px;
  height: 3px;
  background: var(--red-cross);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.contact-form {
  display: grid;
  width: 760px;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.text-section {
  grid-column: 1/3;
}

.name-section {
  grid-column: 1/2;
}

.modal button {
  grid-column: 1/2;
  width: 259px;
}

.form-name,
.form-email {
  width: 360px;
  height: 50px;
  background: var(--white);
  border: 2px solid var(--blurry-grey);
  box-sizing: border-box;
  border-radius: 3px;
}

.form-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--black);
}

.form-text {
  width: 760px;
  height: 118px;
  background: var(--white);
  border: 2px solid var(--blurry-grey);
  box-sizing: border-box;
  border-radius: 3px;
}
